*{
  box-sizing: border-box;
  max-width: 1440px;
  background: #0000A3;
  }
  

img{
    max-width: 100%;
}



body{
    max-width: 100%;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    
    
}





/*SECCION MENU HAMBURGUESA*/
header {
    width: 100%;
    position: inherit;
    height: 45px;
    top: 0;
    background-color: transparent;
    padding: 10px 5%;
    margin-bottom: 39px;


 
}
header .logo{
    float: left;

}

header nav{
   float: right;
}

header nav .menu ul{
    width: 100%;
    position: absolute;
    top: 45px;
    right: 0;
    height: 0;
    /*height: 100vh;*/

    overflow: hidden;
    list-style: none;
    background: #f2f2f2;
    transition: transform 0.5s ease;
    transform: translateY(-100);
   
   

}

header nav .menu input:checked ~ ul {
    height: 100vh;

}

header nav .menu ul li {
    position: relative;
    display:block;

}
header nav .menu ul li:hover{
    background: #5a5a5a;
}

header nav .menu ul li a{
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    padding: 16px 5%;
    line-height: 28px;
    display: block;

}
header nav .menu ul li a:hover{
    color: #fff;

}
/*depliegue de menu*/



.menu input [type="checkbox"]:checked ~ ul{
    background-color: #0000EC;
    height:auto;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    -moz-transition: transform 0.5s ease-in-out;
    -o-moz-transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;

}
    

header nav .menu{
    padding-top: 3px;

}

header nav .menu input{
    display: block;
    width: 40px;
    height: 32px;
    opacity: 0;
    z-index: 2;
    position: absolute;

}

header nav .menu span{
    display: block;
    width: 25px;
    height: 2.5px;
    margin-bottom: 6.5px;
    position: relative;
    background: #060A24;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.5s ease;
    opacity: 0.55s ease;

}

header nav .menu span:first-child{
    transform-origin:0% 0%;

}

header nav .menu span:nth-last-child(2){
    transform-origin:0% 100%;
    
}


/*movimiento a cruz*/

header nav .menu input:checked ~ span{
    opacity: 1;
    transform: rotate (45deg) translate (2px,1px);
}
header nav .menu input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform:rotate (0deg) scale(0.2, 0.2);
}
header nav .menu input:checked ~ span:nth-last-child(2){
    opacity: 0;
    transform: rotate (-45deg) scale (1px, 0px);
}




.cleanList{
    list-style: none;
    padding-left: 0;
    



}
.cleanList li{
    display: inline-block;
    font-family: IBM Plex Mono,monospace;
    font-size: 1rem;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
}


.logo{
    width: 24px;
}

/* SECCION1*/

#section1{
    margin: 29px 16px 24px 16px;
}


.button{
    font-family: 'IBM Plex Mono', medium;
    background-color: #00F3BB;
    font-size: 1.125rem;
    color: #060a24;
    border: none;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    padding: 16px 59px;
    text-align: center;
    text-transform: uppercase;
}
.button:hover{
    background-image: linear-gradient(225deg, #0000FE, #00f3bb);
    font-family: 'IBM Plex Mono', medium;
    font-size:  18px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    color:#FFFFFF;

            
}

.containerButton1{
    margin-top: 0.9%;
    text-align: center;
}

.containerButton1 button{
    padding: 16px 90px;
}

/*SECCION2"*/


.episodesContainer{
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    max-width: 100%;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    padding-top: 16px;
    padding-bottom: 143.5px;
   
}

.episodesContainer .container h2.h2_container{
    margin: 64px 147px 21px 16px;
}

.h2__container{
    font-family: 'IBM Plans Sans' sans-serif;
    font-size: 3rem;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
    margin-bottom: 26px;

}

.iframe_container{
    display: flex;
    flex-direction: column;
}

iframe{
    width: auto;
    max-width: 100%;
    margin: 11px;
    border: 0;
    background-color: transparent;
    min-height: 232px;
}


/*SECCION3*/


#section3{
    margin: 0px 16px 54px 16px;

}
.containerPhone{
    position: relative;
   

}

.imgPhone{
    position: relative;
    top: -99px;
}




/*SECCION4*/

#section4{
    
    margin-bottom: 48px;
}
#section4 .container h2{
    margin: 0 16px 14px 16px;



}
.guestsImg{
    margin-top: -5px;
}


/*SECCION5*/

#section5{
    margin: 0 16px 42px 16px;
}

.containerMore{
    text-align: center;
}

.pStyle{

    font-family: 'IBM Plex Sans',sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    display: block;
}
.moreContent{
    margin-top: 65px;
}




    /*SECCION6*/

.containerNews{
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    max-width: 100%;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    padding-top: 1px;
    padding-bottom: 67px;
   

}

h2.h2_title{
    margin: 64px 16px 36px 16px;
}

.h2_title{
    color: #FFFFFF;
    margin-bottom: 36px;
    text-align: center;
}
.containerButton2{
    margin-top: 0.9%;
    text-align: center;
}
.containerButton2 button{
    padding: 16px 30px;

}


/*FOOTER*/

footer{
    margin: 24px 45px 31px 45px;
}

.containerFooter i{
    text-align: center;

}

.footerFlexbox ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-inline-start: 0;


}










@media screen and (min-width:768px) {
     /*HEADER*/

     header nav img{
        float: none;
    }
    .cleanList{
        
    }
    header nav .menu ul{
        height: auto;
        display: inline-block;
        padding-left: 48px;
        font-size: 1rem;
        color: #060A24;
        letter-spacing: 0;
        line-height: 28px;

    }
    .logo{
        width: 36px;
    }

    .menu_container{
        display: flex;
    }

    header{
        padding: 22px 50px 120px 50px;
    }
    header .menu_container{
        justify-content: space-between;
        align-items: center;

    }

    header .menu_container nav .menu input{
        display: none;

    }
    header .menu_container nav .menu span{
        display: none;
        
    }

    a{
        text-decoration: none;
    }

    a:link{
        color: #060A24;
    }

    a:hover{
        font-size: 16px;
        font-weight: 500;
        color: #00F3BB;
        letter-spacing: 0;
        line-height: 28px;
        text-decoration: line-through;
    }
    a:active{
        font-size: 16px;
        color: rgba(6,10,36,0.56);
        letter-spacing: 0;
        line-height: 28px;
    }


    /*seccion1*/

    #section1{
        margin-bottom: 5px;
    }

    h1{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 4rem;
        color: #060A24;
        letter-spacing: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .text{
        font-family: 'IBM Plans Mono', monospace;
        font-size: 1rem;
        color: #060A24;
        letter-spacing: 0;
        line-height: 24px;
        max-width: 628px;
    }
    .containerButton1{
        margin-top: 56px;
        margin-bottom: 5px;
        text-align: left;
    }

    .containerButton1 .button{
        padding: 16px 60px;
    }

    .button{
        font-family: 'IBM Plex Mono', medium;
        background-color: #00F3BB;
        font-size: 1.125rem;
        color: #060a24;
        border: none;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
        padding: 16px 59px;
        text-align: center;
        text-transform: uppercase;
    }
    .button:hover{
        background-image: linear-gradient(225deg, #0000FE, #00f3bb);
        font-family: 'IBM Plex Mono', medium;
        font-size:  18px;
        font-weight: 500;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
        color:#FFFFFF;

                
    }

    /*seccion2*/

    .episodesContainer{
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        max-width: 100%;
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
        padding-top: 186px;
        padding-bottom: 232.6px;

    }

    #section2{
        margin-bottom: 20.4px;
    }
    .episodesContainer{
       margin: 26px 0;
       
    }
    
    .episodesContainer .container h2.h2_container{
        margin: 64px 147px 21px 16px;
    }
    
    .h2__episodios{
        font-family:'IBM Plans Sans' sans-serif;
        font-size: 3rem;
        letter-spacing: 0;
        margin-top: 0;
        color: #FFFFFF;
        margin-bottom: 26px;
    
    }
    
    .iframe_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    iframe{
       margin-bottom: 72px;
       margin-left: 50px;
       width: 584px;
       min-height: 232px;
       border: 0;
       background-color: transparent;
    
    }
       
    /*SECCION PHONE 3*/

    #section3{
        margin-bottom: 64px;

    }
    #section3 .containerPhone{
        position: relative;
        display: flex;

    }
    #section3 .containerPhone .ImgPhone{
        position: relative;
        top: -195px;
    }
    #section3 .containerPhone .ImgPhone .phonelogo{
        max-width: 457.6px;
        margin-left: 20px;

    }
    #section3 .containerPhone .about{
        max-width: 464px;
    }




    /*SECCION4*/

    .containerNews{
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        max-width: 100%;
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
        padding-top: 213px;
        padding-bottom: 151px;
       
    
    }

    #section4{
        margin-top: -150px;
        margin-bottom: 64px;
    }
    #section4 .container h2{
        margin: 0 0 36px 0;    
    
    
    }
    .guestsImg{
        width: 33.3%;
    }

    .gridGuests{
        display: grid;
        grid-template-columns: 33.3%, 33.3%,33.3%;
        grid-template-rows: 50% 50%;
    }
    
    .guests1{
        display: flex;
        grid-column: 1/4;
    }
    .guests2{
        display: flex;
        grid-column: 1/4;

    }

    /*SECCION5*/

    #section5{
        margin-bottom: 34px;

    }

    .containerMore{
        display: flex;
    }

    #section5 .containerMore{
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-top: 56px;
        margin-bottom: 34px;

    }
    .pStyle{

        font-family: 'IBM Plex Sans',sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        display: block;
    }

    /*SECCION6*/

    #section6{
        margin-bottom: 36px;

    }

      
    .h2_title{
        color: #FFFFFF;
        margin-bottom: 36px;
        text-align: center;
    }
    .containerButton2{
        margin-top: 0.9%;
        text-align: center;
    }
    .containerButton2 button{
        padding: 16px 70px;
        margin-top: 0.9%;
        text-align: center;
    
    }


    /*FOOTER*/

    .containerFooter{
        display: flex;

    }

    footer .containerFooter{
        justify-content: space-between;
        align-items: center;
    }
    .fab{
        padding-right: 36px;
    }
    



}


   